.home{
    min-height: 100vh;
    height: auto;
    /* background: rgb(240, 235, 235); */
    background: darkgray;
    width: 100%;
    padding-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.homesearch{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#textinp{
    padding: 10px;
    outline: none;
    border: 1px solid #ccc;
    width: 300px;
    font-size: 18px;
    border-radius: 10px;
    margin: 10px 0;
}
#button{
    font-size: 18px;
    border:1px solid #fff;
    padding: 5px;
    color: #fff;
    background: #f3b542;
    margin-left: 10px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.homerecipe{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}